<div class="fin-btn">
  <button type="button" class="btn btn-lg btn-primary" disabled>応募完了</button>
</div>

<div class="wait">
  <i class="far fa-grin-beam fa-3x"></i>
  <div class="balloon2-left">
    <p>抽選結果の発表までしばらくお待ちください。</p>
  </div>
</div>
