<div class="box27">
    <span class="box-title">応募条件</span>
    <p>@yoneappをフォローするだけ！</p>
    <p class="follow-btn">フォローはこちらから →</p>
    <div class="follow-btn">
      <a href="https://twitter.com/yoneapp?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @yoneapp</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>

<div class="log-btn">
  <a type="button" class="btn btn-warning" href="/auth/twitter">Twitterログインして応募</a>
</div>
